.container {
    display: flex;
    border-radius: 10px;
    background-color: rgba(202, 203, 207, 0.30);
    padding: 20px;

}

.pokemonName {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0 10px 20px;
}

.typeImg {
    margin-left: 20px;
}

.hidden {
    visibility: hidden;
}
.itemInfo {
}