.container {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    min-width: 744px;
}

.hidden {
    visibility: hidden;
}

/* Pokemon Name Styling */
.pokemonNameContainer {
    width: 100%;
    background: -webkit-linear-gradient(-30deg, black 90%, rgba(255, 255, 255, 0.2) 91%);
}

.pokemonName {
    text-transform: capitalize;
    font-family:  Helvetica, sans-serif;
    color: white;
    margin: 5px 0 5px 15px;
    user-select: none;
}


/* Pokemon Image styling */
.pokemonImgContainer{
    flex: 2;
    text-align: center;
}

.pokemonImg {
    user-select: none;
    -webkit-user-drag: none;
}

/* TypeCard Styling */

.typeContainer {
    flex: 1;
    margin-top: 10px;
}
