.container {
    display: flex;
    flex-direction: row;
    width: 150px;
    text-align: center;
    border-radius: 999px 300px 300px 999px;
    user-select: none;
}

.glow {
	transition-duration: .3s;
	transition-property: box-shadow;
    cursor: pointer;
}

.glow:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, .6);
}
.typeNameContainer {
    margin: auto;
}

.typeNameText {
    text-transform: uppercase;
    color: white;
    padding: 4px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.typeImg {  
    padding: 10px;
    -webkit-user-drag: none;
}


/* Highlights */

.selected{
    outline: 3px yellow solid;
}

.notSelected{
    position: relative;
    /* opacity: .8; */

}

.correctSelected{
    outline: 4px rgb(64, 255, 0) solid;
}

.wrongSelected{
    outline: 4px red solid
}

.correctNotSelected{
    outline: 4px rgb(64, 255, 0) solid;
}