.type{
    position: relative;
    opacity: .8;
}

.selectedType{
    position: relative;
}

.type, .selectedType {
    cursor: pointer;
}

.selected{
    border: 2px pink solid;
}

.notSelected{
    position: relative;
    opacity: .8;

}

.correctSelected{
    border: 2px green solid;
}

.wrongSelected{
    border: 2px red solid
}

.correctNotSelected{
    border: 2px purple solid;
}